# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea/
pdftk_free-2.02-win-setup.exe
Weld Cost Express  2002.release2.xls