html, body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
div.page-1 {
	page-break-after: always;
	page-break-inside: avoid;
	width: 100%;
}
div.page-1, div.page-2 {
	width: auto;
	margin-top: 26mm;
	height: auto; /*A4 Paper Height*/
}
div.page-1 div.page-header{
	text-align: center;
	font-weight: bold;
}
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width : 100%;
	table-layout: fixed;
	border: 2px solid #000;
}
table caption {
	font-weight: bold;
}
th, td {
	text-align: center;
}
table th, table td {
	border: 1px solid #000;
	border-collapse: collapse;
}
table#pqr-details {
border-bottom: none;
}
table#pqr-details tr th {
  text-align: left;
  font-weight: bold;
  text-indent: 2mm;
  /*width: 220mm;*/
}
table#pqr-details tr td#logo-weldata, table#pqr-details tr td#logo-company  {
  width: 50mm;
}

table#pqr-details tr th.company-name {
  text-align: center;
  font-weight: bold;
}
table#pqr-details tr td.border.top {
border-top: 2px solid #000;
}
table#pqr-details tr td.border.top.none{
border-top:none;
}
table#joint, table#joint tr td {
	border: none;
}
table#joint tr td div.joint-image {
	height: 40mm;
}
table#general-details {
border-top: none;
}
table#general-details tr th div.heading {
 font-weight:bold;
}
table#general-details tr td.border.right, table#general-details tr th.border.right  {
  border-right: 2px solid #000;
}
table#general-details tr td.border.bottom, table#general-details tr th.border.bottom  {
  border-bottom: 2px solid #000;
}
table#general-details tr td  {
  text-align:left;
  text-indent: 2mm;
}
table#general-details tr th[scope="col"]  {
  text-align: center;
  }

/*===================================================================================================================*/


/*CSS For Page - 2*/
div.page-2 div.table {
	margin-bottom: 5mm;
}
div.page-2 div.page-header, div.page-2 div.pqr-no {
	font-weight:bold;
	text-align: center;
}
div.page-2 div.pqr-no span, div.page-2 div.comments span {
	text-decoration: underline;
}
div#certify p {
	font-size: 20px;
}
div.page-2 table tr th {
text-align:center;
font-weight:bold;
}
div.page-2 table tr td  {
  text-align:left;
  text-indent: 2mm;
}
div.page-2 table tr td.border.right, div.page-2 table tr th.border.right  {
 border-right: 2px solid #000;
}
div.page-2 table tr td.border.bottom, div.page-2 table tr th.border.bottom   {
 border-bottom: 2px solid #000;
}

table#welder-details tr td.resize {
	text-align: left;
	width: 40mm;
}
table#certified-by tr td {
	text-align: left;
}
table#certified-by tr td.signature {
	height: 20mm;
}
