form div.form-type-textfield, form div.form-type-select, form div.form-type-checkboxes {
	float: left;
	width: 50%;
}
form div.field-type-entityreference, form div.field-group-multiple-table, form fieldset, div.horizontal-tabs {
	clear: both;
}

/*div.select-or-other div.form-type-select{
    display: table-cell;
    width: 25%;
}
.select-or-other div.form-type-textfield  {
	display: table-cell;
	width: 25%;
	float: left;
}*/
/*==============================================Radio Buttons=============================================*/
.form-checkboxes .form-item, .form-radios .form-item {
	display: inline;
}
div.form-type-radio label, div.form-type-checkbox label {
	width: auto;
	border: 1px solid #D1D3D4;
	padding: 0 4px 0 0;
	margin: 5px;
	font-weight: normal;
}
/* hide input */
div.form-type-radio input.form-radio:empty, div.form-type-checkbox input.form-checkbox:empty  {
	margin-left: -99999px;
}
/* style label */
div.form-type-radio input.form-radio:empty ~ label, div.form-type-checkbox input.form-checkbox:empty ~ label {
	position: relative;
	float: left;
	text-indent: 2.4em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.form-type-radio input.form-radio:empty ~ label:before, div.form-type-checkbox input.form-checkbox:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2em;
	background: /*#D1D3D4*/#fff;
	border-right: 1px solid #D1D3D4;
}
/* toggle hover */
div.form-type-radio input.form-radio:hover:not(:checked) ~ label:before, div.form-type-checkbox input.form-checkbox:hover:not(:checked) ~ label:before {
	content: '\2714';
	text-indent: .5em;
	color: #C2C2C2;
}
div.form-type-radio input.form-radio:hover:not(:checked) ~ label, div.form-type-checkbox input.form-checkbox:hover:not(:checked) ~ label {
	color: #888;
}
/* toggle on */
div.form-type-radio input.form-radio:checked ~ label:before, div.form-type-checkbox input.form-checkbox:checked ~ label:before {
	content: '\2714';
	text-indent: .5em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}
div.form-type-radio input.form-radio:checked ~ label, div.form-type-checkbox input.form-checkbox:checked ~ label{
	color: #777;
}
/* radio focus */
/*div.form-type-radio input.form-radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}*/
/*============================= Chosen Select Box Styling =============================*/
.chosen-container-single .chosen-single {
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	border-radius: 0;
	background: #fff;
}
.chosen-container-active.chosen-with-drop .chosen-single {
	background: #fff;
}
.chosen-container-single .chosen-single div b {
	background-position: 0 8px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 8px;
}
.chosen-container .chosen-results li.highlighted {
	background: #e25400;
}
.chosen-drop {
	scrollbar-face-color: #000000;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color: #7D7E94;
	scrollbar-3dlight-color: #7D7E94;
	scrollbar-darkshadow-color: #2D2C4D;
	scrollbar-track-color: #7D7E94;
	scrollbar-arrow-color: #C1C1D1;
}
/*=======================================Submit Buttons======================================*/
input.form-button, input.form-submit {
	background: #2e2e2d;
	outline: none;
	border: 1px solid #d8d8d8;
}
input.form-button:hover, input.form-submit:hover {
	background-color: #e25400;
}
input.form-button:active, input.form-submit:active {
	background-color: #d9d9d9;
}
div.form-actions input[type=submit] {
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	position: relative;
	display: block;
	padding: 20px 2em;
}
input.form-submit#edit-field-file-und-0-remove-button {
	background: none;
	border: none;
	color: #086782;
}
input.form-submit#edit-field-file-und-0-remove-button:hover {
	color: #e25400;
}
.form-type-managed-file a.button.browse {
	background: url(images/button.png) repeat-x left top transparent;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 0 5px 0 0;
	padding: 5px 11px;
}

/*Edited by Karthi Start*/

div.ctools-modal-content .modal-header
{background-color: #000000;}

#modalContent .ctools-modal-content .modal-header
{background-color: #000000;}

div.ctools-modal-content a.close img {
	display: none;
}
div.ctools-modal-content a.close:after {
	content: "X";
}
.field-widget-entityreference-view-widget .ervw-add-items, input.field-group-multiple-add-more-submit {
    background: #fff;
}
.view input#edit-combine {
	width: 250px;
}
.view input.form-submit {
	color: #fff;
}

/*Edited by Karthi End*/