<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="1">
  <tr>
    <th width="22%" scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></th>
    <th width="56%" scope="col">REPORT OF RADIOGRAPHIC EXAMINATION OF WELDS</th>
    <th width="22%" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><div align="center">Project</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Quality requirements—section no. </div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Reported to </div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<p align="center">WELD LOCATION AND IDENTIFICATION SKETCH</p>
<table width="100%" border="1">
  <tr>
    <th width="44%" rowspan="6" scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p></th>
    <th width="23%" scope="col">Technique</th>
    <th width="33%" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><div align="center">Source </div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Film to source</div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Exposure time </div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Screens</div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Film type</div></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p> (Describe length, width, and thickness of all joints radiographed)</p>
<table width="100%" border="1">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Weld identification</th>
    <th scope="col">Area</th>
    <th scope="col">Interpretation </th>
    <th scope="col">Repairs</th>
    <th scope="col">Remarks</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>We, the undersigned, certify that the statements in this record are correct and that the test welds were prepared and tested in conformance with the requirements of AWS D1.1/D1.1M, (_________[Year]) Structural Welding Code—Steel.</p>
<table width="100%" border="1">
  <tr>
    <th width="23%" scope="col">Radiographer(s)</th>
    <th width="26%" scope="col">&nbsp;</th>
    <th width="25%" scope="col">Manufacturer or Contractor</th>
    <th width="26%" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><h4 align="center">Interpreter</h4></td>
    <td>&nbsp;</td>
    <td><div align="center">
      <h4>Authorized by</h4>
    </div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">
      <h4>Test date</h4>
    </div></td>
    <td>&nbsp;</td>
    <td><h4 align="center">Date</h4></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
