<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="1">
  <tr>
    <th scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></th>
    <th colspan="3" scope="col"><div align="center">Report of UT of Welds</div></th>
    <th width="24%" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td width="23%"><h4 align="center">Project </h4></td>
    <td colspan="2">&nbsp;</td>
    <td width="20%"><h4 align="center">Report no.</h4></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="6">&nbsp;</td>
    <td width="22%"><div align="center">Weld identification</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Material thickness</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td> <div align="center">Weld joint AWS</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Welding process</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Quality requirements—section no.</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Remarks</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>





<table width="100%" border="1">
  <tr>
    <th rowspan="3" scope="col"><div align="center">Line number</div></th>
    <th rowspan="3" scope="col"><div align="center">Indication<br>
    number</div></th>
    <th rowspan="3" scope="col"><div align="center">Transducer<br>
    angle</div></th>
    <th rowspan="3" scope="col"><div align="center">From Face</div></th>
    <th rowspan="3" scope="col"><div align="center">Leg</div></th>
    <th colspan="4" scope="col"><div align="center">Details</div></th>
    <th colspan="5" scope="col"><div align="center">Discontinuity</div></th>
    <th rowspan="3" scope="col"><div align="center">Discontinuity<br>
    evaluation</div></th>
    <th rowspan="3" scope="col"><div align="center">Remarks</div></th>
  </tr>
  <tr>
    <td><div align="center">Indication<br>
    level</div></td>
    <td><div align="center">Reference<br>
    level</div></td>
    <td><div align="center">Attenuation<br>
    factor</div></td>
    <td><div align="center">Indication<br>
    rating</div></td>
    <td rowspan="2"><div align="center">Length<br>
    </div></td>
    <td rowspan="2"><div align="center">Angular<br>
      distance<br>
      (sound path)<br>
    </div></td>
    <td rowspan="2"><div align="center">Depth from<br>
      “A” surface<br>
    </div></td>
    <td colspan="2"><div align="center">Distance</div></td>
  </tr>
  <tr>
    <td><div align="center">a</div></td>
    <td><div align="center">b</div></td>
    <td><div align="center">c</div></td>
    <td><div align="center">d</div></td>
    <td><div align="center">From X</div></td>
    <td><div align="center">From Y</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>	We, the undersigned, certify that the statements in this record are correct and that the welds were prepared and tested in conformance<br>
  with the requirements of Clause 6, Part F of AWS D1.1/D1.1M, ( __________[Year] ) Structural Welding Code—Steel. </p>
<table width="101%" border="1">
  <tr>
    <th width="16%" scope="col">Test date</th>
    <th width="25%" scope="col">&nbsp;</th>
    <th width="32%" scope="col">Manufacturer or Contractor</th>
    <th width="27%" scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p></th>
  </tr>
  <tr>
    <td><h4 align="center">  Inspected by</h4></td>
    <td><p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td><h4 align="center">Authorized by</h4></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><h4 align="center">Date</h4></td>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
<p>Note: This form is applicable to Clause 2, Parts B or C (Statically and Cyclically Loaded Nontubular Structures). Do NOT use this form for Tubular Structures (Clause 2, Part D)</p>
</body>
</html>
