<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="1">
  <tr>
    <th width="20%" scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></th>
    <th width="58%" scope="col">FILLET WELD COST REPORT</th>
    <th width="22%" scope="col">&nbsp;</th>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="1">
  <tr>
    <td width="12%">Company Name:</td>
    <td width="49%">&nbsp;</td>
    <td width="12%">Welding Process:</td>
    <td width="27%">&nbsp;</td>
  </tr>
  <tr>
    <td>Project Name:</td>
    <td>&nbsp;</td>
    <td>Weld ID:</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="1">
  <tr>
    <th width="18%" scope="col">User Input</th>
    <th width="14%" scope="col">Values</th>
    <th width="37%" scope="col">FILLET WELD DESIGN</th>
    <th width="17%" scope="col">Cost Outputs</th>
    <th width="14%" scope="col">Values</th>
  </tr>
  <tr>
    <td>Leg Size (in.)</td>
    <td>&nbsp;</td>
    <td rowspan="15">&nbsp;</td>
    <td>Weight of weld (lb)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Weld length (in.)</td>
    <td>&nbsp;</td>
    <td>Weight of filler require (lb)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Size variation (%)</td>
    <td>&nbsp;</td>
    <td>Arc on hour :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Number of joints</td>
    <td>&nbsp;</td>
    <td>Labor hours :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Filler density (lb/in3)</td>
    <td>&nbsp;</td>
    <td>Total filler cost ($) :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Labor rate ($/Hr)</td>
    <td>&nbsp;</td>
    <td>Labor cost ($) :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Filler cost ($)</td>
    <td>&nbsp;</td>
    <td>Total gas cost ($) :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Gas cost ($)</td>
    <td>&nbsp;</td>
    <td>Power cost ($) :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Gas flow rate (CFH)</td>
    <td>&nbsp;</td>
    <td rowspan="2">Total cost ($) :</td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>Process efficiency (%)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">Welder efficiency (%)</td>
    <td>&nbsp;</td>
    <td colspan="2" rowspan="5">Note:.  The estimate is based on filler materials,  direct labor, joint dimensions, gas, and power cost inputs.  The  figure depicts the weld  configuration and numbers that correlate to the user input values.</td>
  </tr>
  <tr>
    <td>Avg. Amp</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Avg. Voltage</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Power cost ($/kwh)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Deposition rate (lb/Hr)</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="1">
  <tr>
    <td width="9%"><p>Prepared by:</p></td>
    <td width="53%"><p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="13%">Authorised by:</td>
    <td width="25%">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
