<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="1">
  <tr>
    <th width="24%" scope="col"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></th>
    <th width="53%" scope="col">REPORT OF MAGNETIC-PARTICLE EXAMINATION OF WELDS</th>
    <th width="23%" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><div align="center">Project</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Quality requirements—Section No.</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Reported to</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<p align="center">WELD LOCATION AND IDENTIFICATION SKETCH</p>
<table width="100%" height="198" border="1">
  <tr>
    <th scope="col">&nbsp;</th>
  </tr>
</table>
<table width="100%" border="1">
  <tr>
    <th width="17%" scope="col">Quantity: </th>
    <th width="16%" scope="col">&nbsp;</th>
    <th width="20%" scope="col">Total Accepted:</th>
    <th width="10%" scope="col">&nbsp;</th>
    <th width="24%" scope="col">Total Rejected:</th>
    <th width="13%" scope="col">&nbsp;</th>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="1">
  <tr>
    <th width="8%" rowspan="2" bgcolor="#FFFFFF" scope="col">Date</th>
    <th width="27%" rowspan="2" bgcolor="#FFFFFF" scope="col">Weld identification</th>
    <th bgcolor="#FFFFFF" scope="col">Area Examined </th>
    <th width="20%" bgcolor="#FFFFFF" scope="col">Interpretation</th>
    <th bgcolor="#FFFFFF" scope="col">Repairs</th>
    <th rowspan="2" bgcolor="#FFFFFF" scope="col">Remarks</th>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><div align="center">Entire /Specific</div></td>
    <td bgcolor="#FFFFFF"><div align="center">Accepted/Rejected </div></td>
    <td bgcolor="#FFFFFF"><div align="center">Accepted/Rejected </div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="1">
  <tr>
    <th colspan="6" bgcolor="#FFFFFF" scope="col"><div align="left">PRE-EXAMINATION</div></th>
  </tr>
  <tr>
    <td width="25%"><div align="center">Surface Preparation:</div></td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <th colspan="6" bgcolor="#FFFFFF"><div align="left">EQUIPMENT</div></th>
  </tr>
  <tr>
    <td><div align="center">Instrument Make:</div></td>
    <td width="26%">&nbsp;</td>
    <td width="13%"><div align="center">Model:</div></td>
    <td width="13%">&nbsp;</td>
    <td width="11%"><div align="center">S. No.:</div></td>
    <td width="12%">&nbsp;</td>
  </tr>
  <tr>
    <th colspan="6" bgcolor="#FFFFFF"><div align="left">METHOD OF INSPECTION</div></th>
  </tr>
  <tr>
    <td><div align="center">Dry/Wet</div></td>
    <td>&nbsp;</td>
    <td colspan="2"><div align="center">Visible / Fluorescent</div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">How Media Applied:</div></td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td> Residual /Continuous / True-Continuous</td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td> <div align="center">AC / DC / Half-Wave</div></td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td> Prods / Yoke / Cable /Wrap/ Other</td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td>Direction for Field: Circular / Longitudinal</td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Strength of Field:</div></td>
    <td colspan="5"><p>&nbsp;</p>
    <p align="center">(Ampere turns, field density, magnetizing force, number, and duration of force application.)</p></td>
  </tr>
  <tr>
    <th colspan="6"><div align="left">POST EXAMINATION</div></th>
  </tr>
  <tr>
    <td><div align="center">Demagnetizing Technique (if required): </div></td>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Cleaning (if required): </div></td>
    <td>&nbsp;</td>
    <td colspan="2"><div align="center">Marking Method: </div></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<p>We, the undersigned, certify that the statements in this record are correct and that the test welds were prepared and tested in conformance with the requirements of AWS D1.1/D1.1M, (__________[Year]) Structural Welding Code—Steel.</p>
<table width="100%" border="1">
  <tr>
    <th scope="col">Inspector</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">Manufacturer or Contractor </th>
    <th scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><div align="center">Level </div></td>
    <td>&nbsp;</td>
    <td><div align="center">Authorized By</div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">Test Date</div></td>
    <td>&nbsp;</td>
    <td><div align="center">Date</div></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
</body>
</html>
