/* Weldata Styles*/

/*Weld Estimator Form*/
form#weld-estimator-node-form div.form-type-radio{
    display: inline;
}
.field-inline-block div.form-wrapper {
    display: inline-block;
    width: 50%;
}

